<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" rel="stylesheet"></link>
    <title>Book Shop-About</title>
</head>
<body>
    <h1>{{demo.title}}</h1>
     <h2>{{demo.description}}</h2>
</body>
</html>